* {
    margin: 0;
    padding: 0;
}

.list {
    list-style-type: none;
    display: flex;
    justify-content: center;
    width: 100%;
    background-color: #2d3436;
    color: white;
}

.list-item {
    display: inline-block;
    padding: 20px;
}

.text-wrap {
    width: 150px;
    word-wrap: break-word;
}

.grid {
    display: grid;
    grid-gap: 100px;
    grid-template-columns: repeat(auto-fit, 200px);
    grid-template-rows: repeat(auto-fit, 250px);
}

.center {
    margin: 0 auto;
}